.graveyard {
  width: 50%;

  .graveyard-header {
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 10px;
  }

  .gravestone-zone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
